# Node.js
node_modules/

# Tailwind CSS build dosyaları
/dist/
*.css

# Log dosyaları
*.log

# Environment değişkenleri dosyası (gizli bilgileri içeriyor olabilir)
.env

# npm-debug.log veya yarn-error.log dosyaları
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system-specific files
.DS_Store
Thumbs.db
